# Yarn Zero-installs
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Logs
yarn-debug.log*
yarn-error.log*

# Environment overrides
.env.*.override

# Editor support
!.vim/*
.vscode/*
!.vscode/snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# ESLint
.eslintcache

# OutDir
dist/*
